doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title The Inspired Island
    link(rel='stylesheet', href='css/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')
    script(src='js/in-view.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js')
    script(src='js/index.js')
    script(src='https://ianlunn.co.uk/plugins/jquery-parallax/scripts/jquery.parallax-1.1.3.js') 
  body
    #pop-up
      .content
        img.logo(src='image/logo.png')
        img.photo(src='image/popup/author.webp')
        .block
          p 如 歌 的 行 板 / 瘂 弦
          p 奼 紫 嫣 紅 開 遍 / 白 先 勇
          p 無 岸 之 河 / 洛 夫
          p 讀 中 文 系 的 人 / 林 文 月
          p 我 城 / 西 西 東 西 / 也 斯
          p 1 9 1 8 / 劉 以 鬯
        .textNew
          p.title 瘂弦 / 如歌的行板
          p.title2 本片獲2015年台北電影節  最佳紀錄片、最佳攝影、最佳剪輯獎
          p &nbsp;
          p.intro 本片跟隨着傳奇的傳主，從溫哥華到河南南陽，從童年的流動圖書館到現在的地下室。打開保存<br>將近 60 年的藏書與情書，打開詩人記憶的寶庫，為觀眾呈現瘂弦對文壇與文學的耕耘與情緣。<br>歷經大時代變遷、波瀾壯闊的文學生活，在本片中藉著抒情詩般的影像，生動而優美地鋪展開<br>來。<br>1964 年瘂弦寫成這首人人琅琅上口的詩行，此後投身編輯工作， 1966 年後不再公開發表詩<br>作。一位詩人，一本詩集，從上一世紀中迄今，影響力仍在擴散，詩人擁有什麼神奇的特質？<br>詩，寫下什麼故事？
        img.pic1(src='image/popup/pic1.png')
        img.pic2(src='image/popup/pic2.png')
        img.pic3(src='image/popup/pic3.png')
        .textNew2
          p.author 導演 陳懷恩
          p.intro 世新印攝科畢業。 1983 年正式開始電影製作工作，剛好趕上台灣新電影的第一波，從《兒子的大玩偶》開始和電影結緣，二十多年來，從場記、劇照、副導、攝影等等，幾乎各種工作都做過了，並與楊德昌侯孝賢等多位台灣知名導演合作。擁有多方面的電影才華，累積了豐富的經驗與獨到品味，近年來，以攝影和國內外導演合作電影、短片及廣告拍攝，超過百部。影像風格自
        .textNew3
          p.intro 然寫實，善於捕捉人性細膩的部分，擁有豐厚<br>的人文觀察與人文情感。<br>2007 年自編自導第一部電影《練習曲》，以<br>平實的手法拍下一個聽損青年七天六夜的單車<br>環島之旅，溫暖抒情地呈現台灣景觀風貌，也<br>透視了台灣庶民文化，深獲觀眾共鳴，不但票<br>房亮眼，更引發至今仍熾的全台單車環島熱<br>潮。
        .preOrderBtn.button
        .exit
          svg#Layer_1(viewbox='25.974998474121094 25.975000381469727 148.05001831054688 148.0500030517578', xmlns='http://www.w3.org/2000/svg', , preserveaspectratio='xMidYMid meet', role='img')
            g
              path(d='M172.9 167.6L105.3 100l67.6-67.6c1.5-1.5 1.5-3.8 0-5.3s-3.8-1.5-5.3 0L100 94.7 32.4 27.1c-1.5-1.5-3.8-1.5-5.3 0s-1.5 3.8 0 5.3L94.7 100l-67.6 67.6c-1.5 1.5-1.5 3.8 0 5.3s3.8 1.5 5.3 0l67.6-67.6 67.6 67.6c1.5 1.5 3.8 1.5 5.3 0s1.5-3.8 0-5.3z', fill='#FFFFFF')
    .video
      video#myVideo(loop='loop', autoplay='autoplay', type='video/mp4', style='opacity: 1; position: absolute; min-width: 1905px; min-height: 1072px; left: 0px; top: -259px;', width='1905', height='1072', src='image/video.mp4')
    nav#navbar
      .navContent
        .navItem#navHeader 島嶼寫作
        .navItem#navAboutIsland 關於/島嶼寫作
        .navItem#navMovieIntroduction 電影簡介
        .navItem#navTheater 上映影城
        .navItem#navSaleInformation 限定預購
        .navItem#navAboutFisfisa 關於/目宿媒體 
    .background
      .section_aboutIsland_Bgc
      .section_movieIntroduction_Bgc
      .section_saleInformation_part3Bgc
      .section_aboutFisfisa_Bgc
      
    .content
      header#header
        img.headerImg(src='image/header/headerImg.png')
        span.textNew.text1 港台七位文壇大家
        span.textNew.text2 影壇最深刻的文學電影，激盪文學與電影的璀璨火花
        span.textNew.text3 12/18 鄭重鉅獻 
        img.img1(src='image/header/img1.png')
      section#section_aboutIsland
        img.descImg(src='image/aboutIsland/descImg.png')
        span.title 關於 / 他們在島嶼寫作
        .dash
        .descript
          span.descript1 文學，是一代人的眼睛，隨著每個世代的心跳搏動，書寫出各自時空的呼吸頻率。
          br
          span.space
          br
          span.descript2
            | 《他們在島嶼寫作》文學紀錄片的計畫，便是在這樣的基石上推行。本計畫試圖利用紀錄片作為媒介，以年輕導演的電影語言作為引路人，將台灣戰後最重要的文學家介紹給新一代讀者，不但藉此永久記錄作家的重要事蹟，也希望透過這些些作品，重燃新一波的書寫復興。
          br
          span.space
          br
          span.descript3 《他們在島嶼寫作》自 2011 年推出第一系列後，廣受文學和電影愛好者念念不忘，是以計劃將持續推行，並於今年 2015 年，在您的陪伴下暖心上映。
        iframe.youtube(width='492', height='277', src='https://www.youtube.com/embed/D1wiyeYd_wY', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='allowfullscreen')
      section#section_movieIntroduction
        span.movieIntro 電影簡介
        p.movieIntroContent
          span.movieIntro1 七位文壇大家
          br
          span.movieIntro2 《他們在島嶼寫作》第二系列，是由白先勇、洛夫、瘂弦、林文月、西西、也斯、劉以鬯等七位文壇大家，與七位新銳導演，共同譜寫的一首影像詩篇。
        span.movieTheater 上映影城
        p.theaterContent
          span.theaters 台北 / 國賓影城@長春廣場、光點華山電影館、誠品電影院
          br
          span.theaters 台中 / 日新大戲院
          br
          span.theaters 台南 / 台南國賓影城@國賓廣場
          br
          span.theaters 高雄 / 高雄大遠百威秀影城
        .moreInfroBtn
        .btn1
        .btn2
        .btn3
        .btn4
        .btn5
        .btn6
        .btn7
        .preOrderBtn#order1
        
      section#section_saleInformation
        span.part3_title 電影簡介
        span.combination
          | - 套裝組合 - 
          span.comination_title
          br
          span.combination_info 預購時間為11月24日至12月18日，全數周邊（除專書以外）將於12月18日前以郵寄配送，電影兌換券請在開演前持票至上映戲院劃位。
          br
          br
          span.combination_info
            | 一如人生有許多事，此生就是一期一會，也正因為這些機遇的難得，人們才會更加珍惜每一次的相會。所以我們更情願將這種一期一會的緣份，留給這次難得與《島嶼》相遇的你們。部分的預購周邊僅在預售期間販售，敬請把握機會。因為限定，所以珍貴。
        .combination_obj1
          img.postcard(src='image/saleInformation/postcard.png')
          img.ticket(src='image/saleInformation/ticket.png')
          img.forum(src='image/saleInformation/forum.png')
        #textNewOne 
          span.title1 作家導演映後座談 / 
          span.title2 450元 
          p 含映後座談一場＋電影兌換券一張＋明信片一組   
          p &nbsp;
          p 讀中文系的人　首映（限定100名）
          p 時間：2015/12/16 18:40-21:20
          p 地點：國賓影城@長春廣場
          p 映後座談：林文月(作家)、齊怡(導演)、劉佩怡(導演)、許悔之(主持人)
        #textNewTwo
          p 奼紫嫣紅開遍　首映（限定50名）
          p 時間：2015/12/18 19:10-21:10
          p 地點：國賓影城@長春廣場
          p 出席：白先勇(作家)、鄧勇星(導演)
        #obj1.preOrderBtn.order1
        #obj1-2.preOrderBtn.order1
        .combination_obj2
          img.ticket(src='image/saleInformation/ticket.png')
          img.pen(src='image/saleInformation/pen.png')
        #textNewThird
          span.title1 漢字沾水筆（聖誕限定）/ 
          span.title2 930元 
          span.title1 (限量20組) 
          p 電影兌換券（2張）＋德國進口桃花心木沾水筆桿搭配書法尖（1支）
          p &nbsp;
          p 比書寫更溫暖，比文學更永恆──筆尖專為漢字書法設計，運筆行雲流水。筆<br>尖帶儲墨器，打破一般沾水筆書寫不接續限制，酣暢適意。 筆桿以桃花心木<br>製作而成，觸感溫潤、紋理細緻。
        #obj2.preOrderBtn.order1
        .combination_obj3
          img.postcard(src='image/saleInformation/postcard.png')
          img.ticket(src='image/saleInformation/ticket.png')
          img.lecture(src='image/saleInformation/lecture.png')
        #textNewFour
          span.title1 楊照文學七講 / 
          span.title2 450元
          span.title1 (限定40名) 
          p 由知名作家、評論家楊照老師帶領觀眾深入讀影，<br>在七次的講座中，領遊剖析每一部文學與電影背後的風景。   
        #obj3.preOrderBtn.order1
        .combination_obj4
          img.postcard(src='image/saleInformation/postcard.png')
          img.ticket(src='image/saleInformation/ticket.png')
          img.bag(src='image/saleInformation/bag.png')
          img.book(src='image/saleInformation/book.png')
          img.cd(src='image/saleInformation/cd.png')
        #textNewFive
          span.title1 漢字沾水筆（聖誕限定） / 
          span.title2 930元
          span.title1 (限量20組)
          p 電影兌換券（2張）＋德國進口桃花心木沾水筆桿搭配書法尖（1支  
          p &nbsp;
          p 比書寫更溫暖，比文學更永恆──筆尖專為漢字書法設計，運筆行雲流水。筆<br>尖帶儲墨器，打破一般沾水筆書寫不接續限制，酣暢適意。 筆桿以桃花心木製<br>作而成，觸感溫潤、紋理細緻。
        #obj4.preOrderBtn.order1
      section#section_aboutFisfisa
        span.about 關於 / 目宿媒體
        br
        p.about1
          span
            | 2011年推出「他們在島嶼寫作──文學大師系列電影」，由五位導演完成，系列共有六部影片，呈現台灣重要文學家：林海音、周夢蝶、余光中、鄭愁予、王文興與楊牧的創作風景，引起廣大觀眾的討論與迴響，更掀起兩岸三地文化圈的「台灣文學」熱潮。影片獲得台北電影節媒體推薦獎、台灣金馬獎最佳剪輯獎、台灣國際紀錄片雙年展等肯定。
          br
          span 第一系列以「台灣作家」為核心， 展開形塑作家的多重歷史、空間與時間的探索；第二系列起始，將擴大「島嶼寫作」的地理範疇，持續呈現「
        p.about2
          span 華人作家」的文學歷程及作品影響力，期望藉此推廣閱讀、延展多元盛放的文學時代，並提供電影導演以文學為基底的影像創作平台。
          br
          span
          br
          span
            | 目宿媒體成立於2009年，由和碩聯合科技董事長童子賢先生與行人文化實驗室合作創辦，著力於「影像． 劇本．資料庫」三大領域的經營，規劃文學電影、劇本研發等影像相關的製作與拍攝，經營專業的影視內容生產與發行，期許成為群聚影視創意人才的場域
          br
          span
          br
          span.email 聯絡信箱：fisfisa@flaneur.tw
      footer#footer
        img.logo(src='https://static.wixstatic.com/media/4c962a_1b1cbbf41f29474285ce98b0ea4d4de2~mv2_d_4961_3508_s_4_2.png/v1/fill/w_196,h_102,al_c,usm_0.66_1.00_0.01/4c962a_1b1cbbf41f29474285ce98b0ea4d4de2~mv2_d_4961_3508_s_4_2.png')
        img.allauthor(src='https://static.wixstatic.com/media/4c962a_a0581d057ace4d329b8b11babfcfd892~mv2.png/v1/fill/w_257,h_59,al_c,usm_0.66_1.00_0.01/4c962a_a0581d057ace4d329b8b11babfcfd892~mv2.png')
        span.desinger © Copyright 2015 Design by  Liao,Wei-Cheng
        span.contact 聯絡信箱：fisfisa@flaneur.tw
    
